# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
input/*
output/*
cache/*
share/*
*__pycache__*
aadnk*
pyvenv.cfg
test/*
.venv/*
.venv~/*
.venv2/*
aadnk/*
whisper-ctranslate2/*
.env
custom-deploy.sh